@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap");

/*
=============== 
Global Styles
===============
*/

:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}
.light-theme {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background: #d1e1ff;
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.3s linear;
}

/*
=============== 
Navbar
===============
*/
.mobile {
  width: 375px;
  margin: 0 auto;
  margin-top: 6rem;
  border-radius: 10px;
}

.heading {
  font-size: 24px;
  line-height: calc(31 / 24);
  font-weight: 700;
  color: #191d21;
}

.heading1 {
  font-size: 20px;
  line-height: calc(22.5 / 20);
  font-weight: 700;
}

.typography {
  font-size: 12px;
  line-height: calc(16 / 12);
  font-weight: 800;
  color: #393939;
  background-color: #ffffff;
  border-radius: 16px;
}

.body1 {
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 400;
}

.body1:hover {
  background-color: #393939;
  border-radius: 16px;
  color: #ffffff;
  font-weight: 600;
}

.nav-center {
  padding: 2rem 0;
}

.btn {
  background: var(--clr-primary);
  color: var(--clr-bcg);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
